body {
    background-color: honeydew;
}

a {
    color: #6A726A;
}

header {
    color: #6A726A;
}
  
footer {
    color: #6A726A;
    background-color: white;
    min-width: 100%
}

/* BILLING SHIPPING AND CREDIT FORMS */
#billform,
#shipform {
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    justify-content: center;
    font-size:25px;
}
.billTitle,
.shipTitle, 
.creditTitle {
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-top:5px;
    font-size:40px;
    color: #6A726A;
}
.creditRow {
    height: 50%;
}
.creditFields {
    height: 40%;
    justify-content:center;
    font-size:25px;
}
.creditImage {
    height: 90%;
}
.boughtItemsRow {
    height: 100%;
    width: 100%;
}

#shipEmailLabel {
    margin-left:150px;
}

#shipEmail {
    margin-left: 5px;
}

/* Receipt container */
.checkoutGreeting {
    display:flex;
    font-size:25px;
    font: bolder;
    flex-wrap:wrap;
}
.receiptContainer {
    height: 250px;
}
.item {
    height: 35%;
    width: 100%;
}
/* ITEMS FORM */
.itemsForm {
    width: 100%;
}

/* PRICES FORM */
#price {
    width: 60px;
    margin-right: 6px;
}

/* Total window and checkout button */
.totalRow {
    height: 45%;
}
.checkoutButtonRow {
    height: 55%;
    width: 80%;
    font-size:20px;
}
.total {
    font-size: 40px;
}

/* ALL ITEMS AND PRICES TEXT BOXES */
.form-control {
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 35px;
}
.item {
    display: flex;
}
#item {
    width: 280px;
}

/*RECENT ITEMS*/
#recentItem {
    border: 1px solid;
    height: 170px;
}
#recentTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6A726A;
}
.recentlyViewed {
    padding-top:100px;
    justify-content: space-between;
}
.recentlyViewedRow {
    justify-content: space-between;
    margin: 6px;
    padding-bottom: 22px;
}
.recentImageRow {
    height: 75%;
}
.recentTextRow {
    height: 25%;
}

#recent1text, #recent2text, #recent3text, #recent4text, #recent5text {
    margin-left: 15px;
}

/* BUTTONS */
.clearButton {
    width: 30px;
    height: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.checkoutButton {
    width: 100%;
    
}
.creditSubmit {
    float:right;
}
.shippingSubmit {
    float:right;
    font-size: 18px;
}